/* For desktop */
@media screen and (min-width: 700px) {
  .createAcc {
    position: absolute;
    top: -20px;
    width: 100vw;
    height: 0;
    display: block;
    overflow: hidden;
    transition: all 0.6s;
  }
  .createAccMain {
    background-color: #6200ea;
    color: white;
    height: 0;
    z-index: 3;
    transition: all 0.6s;
  }
}

/* For mobile */
@media screen and (max-width: 700px) {
}
