


/* for mobile */
@media screen and (max-width:700px){
    body{
        margin: 0px;
    }
    .liveBox{
        padding: 10px;
        border: 3px solid red;
        overflow: hidden;
        max-width: 230px;
        margin-left: 20%;
        margin-top: 10%;
    }
    img{
        max-width: 230px;
        position: relative;
    }
}



/* For desktop */
@media screen and (min-width:700px){
body{
    margin: 0px;
}
.liveBox{
    padding: 10px;
    border: 3px solid black;
    overflow: hidden;
    max-width: 510px;
    margin-left: 30%;
    margin-top: 10%;
}
img{
    max-width: 620px;
    max-height: 340px;
    position: relative;
}
}